# code: language=yaml
{{- $xr := getCompositeResource . }}
{{- $metadata := $xr.metadata | default dict }}
{{- $spec := $xr.spec | default dict }}

{{- $name := $metadata.name | default "crossplane-stack" }}
{{- $clusterName := $spec.clusterName | default $name }}
{{- $managementPolicies := $spec.managementPolicies | default (list "*") }}

{{- $defaultLabels := dict
  "hops.ops.com.ai/managed" "true"
  (printf "hops.ops.com.ai/%s" (lower $xr.kind)) $name
}}
{{- $labels := merge $defaultLabels ($spec.labels | default dict) }}

{{- /* Crossplane config */ -}}
{{- $crossplane := $spec.install | default dict }}
{{- $cpNamespace := $crossplane.namespace | default "crossplane-system" }}
{{- $cpReleaseName := $crossplane.name | default "crossplane" }}
{{- $cpValues := $crossplane.values | default dict }}
{{- $cpOverrideAllValues := $crossplane.overrideAllValues | default dict }}

{{- /* Management cluster provider config refs */ -}}
{{- $helmProviderConfigRef := $spec.helmProviderConfigRef | default dict }}
{{- $helmProviderConfigRef = dict
  "name" ($helmProviderConfigRef.name | default $clusterName)
  "kind" ($helmProviderConfigRef.kind | default "ProviderConfig")
}}
{{- $kubernetesProviderConfigRef := $spec.kubernetesProviderConfigRef | default dict }}
{{- $kubernetesProviderConfigRef = dict
  "name" ($kubernetesProviderConfigRef.name | default $clusterName)
  "kind" ($kubernetesProviderConfigRef.kind | default "ProviderConfig")
}}

{{- /* NodePool */ -}}
{{- $nodePoolSpec := $spec.nodePool | default dict }}
{{- $nodePoolEnabled := false }}
{{- if hasKey $nodePoolSpec "enabled" }}
  {{- $nodePoolEnabled = $nodePoolSpec.enabled }}
{{- end }}
{{- $nodePoolName := $nodePoolSpec.name | default "hops-crossplane" }}
{{- $nodePoolNodeClassName := $nodePoolSpec.nodeClassName | default "hops-default" }}
{{- $nodePoolLimits := $nodePoolSpec.limits | default (dict "nodes" 10) }}
{{- $nodePoolRequirements := $nodePoolSpec.requirements | default (list
  (dict "key" "karpenter.sh/capacity-type" "operator" "In" "values" (list "spot"))
  (dict "key" "eks.amazonaws.com/instance-category" "operator" "In" "values" (list "c" "m" "r" "t"))
  (dict "key" "eks.amazonaws.com/instance-generation" "operator" "Gte" "values" (list "4"))
  (dict "key" "kubernetes.io/os" "operator" "In" "values" (list "linux"))
) }}
{{- $nodePoolDisruption := $nodePoolSpec.disruption | default (dict "consolidationPolicy" "WhenEmptyOrUnderutilized" "consolidateAfter" "30s" "budgets" (list (dict "nodes" "100%"))) }}

{{- /* Build $state */ -}}
{{- $state := dict
  "name" $name
  "clusterName" $clusterName
  "managementPolicies" $managementPolicies
  "labels" $labels
  "helmProviderConfigRef" $helmProviderConfigRef
  "kubernetesProviderConfigRef" $kubernetesProviderConfigRef
  "crossplane" (dict
    "namespace" $cpNamespace
    "releaseName" $cpReleaseName
    "values" $cpValues
    "overrideAllValues" $cpOverrideAllValues
  )
  "nodePool" (dict
    "enabled" $nodePoolEnabled
    "name" $nodePoolName
    "nodeClassName" $nodePoolNodeClassName
    "limits" $nodePoolLimits
    "requirements" $nodePoolRequirements
    "disruption" $nodePoolDisruption
  )
  "observed" (dict)
  "status" (dict)
}}
