# code: language=yaml
{{- $obs := $state.observed }}

{{- $cpReady := $obs.crossplane.ready | default false }}
{{- $nodePoolReady := true }}
{{- $nodePoolStatus := dict
  "enabled" $state.nodePool.enabled
  "ready" $nodePoolReady
}}
{{- if $state.nodePool.enabled }}
  {{- $nodePoolReady = $obs.nodePool.ready | default false }}
  {{- $nodePoolStatus = dict
    "enabled" true
    "ready" $nodePoolReady
    "name" $state.nodePool.name
  }}
{{- end }}

{{- $ready := and $cpReady $nodePoolReady }}
{{- $state = set $state "status" (dict
  "ready" $ready
  "crossplane" (dict
    "ready" $cpReady
    "namespace" $state.crossplane.namespace
    "releaseName" $state.crossplane.releaseName
    "chartVersion" "2.4.0"
  )
  "nodePool" $nodePoolStatus
) }}
