# code: language=yaml
{{- $obs := $state.observed }}

{{- $cpReady := $obs.crossplane.ready | default false }}
{{- $nodePoolReady := true }}
{{- if $state.nodePool.enabled }}
  {{- $nodePoolReady = $obs.nodePool.ready | default false }}
{{- end }}

{{- /* Overall readiness is managed by function-auto-ready */ -}}
{{- $state = set $state "status" (dict
  "ready" false
  "crossplane" (dict
    "ready" $cpReady
    "namespace" $state.crossplane.namespace
    "releaseName" $state.crossplane.releaseName
    "chartVersion" "2.2.0"
  )
  "nodePool" (dict
    "ready" $nodePoolReady
    "name" $state.nodePool.name
  )
) }}
