# code: language=yaml
{{- $providerReady := $state.observed.provider.ready | default false }}
{{- $status := dict
  "ready" (and $providerReady (or (not $state.aws.enabled) $state.observed.podIdentity.ready))
  "provider" (dict
    "ready" $providerReady
  )
}}

{{- $state = set $state "status" $status }}
