# code: language=yaml
{{- $providerReady := $state.observed.provider.ready | default false }}
{{- $podIdentityReady := $state.observed.podIdentity.ready | default false }}
{{- $status := dict
  "ready" (and $providerReady $podIdentityReady)
  "provider" (dict
    "ready" $providerReady
    "podIdentityReady" $podIdentityReady
  )
}}

{{- $state = set $state "status" $status }}
